langchain
langchain-openai
langchain-community 
streamlit
pandas
openai
llama-index
jinja2
pypdf2
html2text==2020.1.16
tiktoken
faiss-cpu
sentence-transformers
google-api-python-client
google-auth-httplib2 
google-auth-oauthlib